.idea/
./docs/deep_learning/practical_pytorch/data
*.ipynb_checkpoints
*.pt
*-ubyte
*-ubyte.gz
*.sif
*.simg
.vscode/
site/
/docs/programming/electron/app/node_modules/*
/docs/programming/electron/app-win32-x64/*
