{% extends "base.html" %}

<!-- Custom front matter -->
{% block extrahead %}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/custom.00c04c01.min.css' | url }}">
{% endblock %}

<!-- Announcement bar -->
{% block announce %}
  For updates follow us on
  <a href="https://twitter.com/ritchieng">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>
  or subscribe to our channel on
  <a href="https://www.youtube.com/channel/UCJz2MIjiCosOQCwhnsYxeEw">
    <span class="twemoji twitter" style="color:red">
      {% include ".icons/fontawesome/brands/youtube.svg" %}
    </span>
    <strong>YouTube</strong>
  </a>
{% endblock %}

<!-- Theme-related JavaScript -->
{% block scripts %}
  {{ super() }}
  <script src="{{ 'assets/javascripts/custom.129bd6ad.min.js' | url }}"></script>
{% endblock %}
